body {
  font-family: Roboto, Helvetica, Tahoma, sans-serif;
}
header {
  min-height: 10vh;
}
.altura-minima {
  min-height: 88vh;
}
.columna-centrada-800px {
  max-width: 800px;
  margin: 50px auto;
  text-align: justify;
}